.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
body {
  background-color: rgb(236, 235, 220);
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2em;
  background-color: #2b7148;
  height: 4.5em;
  color: white;
}
.center {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
.header .center {
  align-items: center;
}

.rodada {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
.escolherRodada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(138, 185, 157);
  width: auto;
  height: 50px;
  padding: 10px;
}
.tabelaRodada {
  background-color: white;
  padding: 0 1em;
  min-width: 100px;
}
.headerTabela {
  background-color: #8ab99d;
  /* width: 600px; */
  /* height: 30px; */
  /* display: flex; */
  padding: 0.5em 2em;
  /* justify-content: space-between; */
}
.bodyTabela {
  /* display: flex; */
  justify-content: space-around;
  background-color: white;
  text-align: center;

}
.center2 {
  display: flex;
  justify-content: space-around;
  min-width: 70vw;
}
.content {
  padding: 2em;
  display: flex;
  justify-content: space-around;
}

.btnLogin {
  background-color: #04375c;
  border: none;
  width: 7em;
  height: 2.2em;
  color: white;
  border-radius: 5px;
}
.iptLogin {
  height: 2.5em;
  width: 15em;
  margin-right: 1em;
  border: none;
  border-radius: 5px;
}


.casa,
.score,
.visitante {
  padding: 15px;
}

.score {
  font-weight: bold;
  font-size: 1.5em;
}
.titleRodada {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
}
.tabela table {
	min-width: 40em;
	
}
table{
	border-collapse: collapse;
}
.casa{
	text-align: right;
}
.visitante{
	text-align: left;
}
td,
tr {
  padding: 0.25rem 0.2rem;
}
.inputGol {
  max-width: 40px;
  max-height: 40px;
}

.editando{
	background-color:#8AB99D;
	border: none;
	border-radius: 10em;
}